# ===== C++ =====
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ===== CAA =====
**/ImportedInterfaces/
**/PublicGenerated/
**/ProtectedGenerated/
**/LocalGenerated/
**/Objects/
**/various/
**/win_b64/

*.mkb
*.mkDG
*.pdb
*.manifest

# ===== VS ======
*.sdf
*.opensdf
*.sln
*.suo
*.vcxproj*